@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
    box-sizing: border-box;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the line height in all browsers.
3. Prevent adjustments of font size after orientation changes in iOS.
4. Use a more readable tab size (opinionated).
*/

html {
    font-family:
        "Roboto",
        system-ui,
        'Segoe UI',
        Helvetica,
        Arial,
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji';
    /* 1 */
    line-height: 1.15;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 3 */
    tab-size: 4;
    /* 4 */
}


/*
Sections
========
*/

/**
Remove the margin in all browsers.
*/

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

/*
Text-level semantics
====================
*/

/**
Add the correct font weight in Chrome and Safari.
*/

b,
strong {
    font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
    font-family:
        ui-monospace,
        SFMono-Regular,
        Consolas,
        'Liberation Mono',
        Menlo,
        monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
    font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/*
Tabular data
============
*/

/**
Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
    border-color: currentcolor;
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
    padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
    vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
    display: list-item;
}

/* ----------------------------------------------------------------------------------------------------------- */

/* MAIN WEBPAGE GRID */
.grid {
    display: grid;
    grid-template-columns: minmax(230px, 1fr) 8fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "side header"
        "side main"
    ;
    height: inherit;
    max-width: inherit;
}

/* ----------------------------------------------------------------------------------------------------------- */

/* SIDEBAR SECTION */
.sidebar {
    background-color: dodgerblue;
    grid-area: side;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 5fr;
    color: white;
    align-items: center;
    justify-items: start;
}

.dash-title {
    color: black;
    -webkit-filter: invert(100%);
    list-style: none;
}

.dash {
    background-image: url(./icons/sidebar_icons/dashboard.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 2.5rem;
    text-align: left;
    padding: 5px 0px 5px 60px;
}

.nav-item {
    list-style-type: none;
    line-height: 3;
    font-weight: 600;
    font-size: 1.2rem;
    color: black;
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 2rem;
    text-align: left;
    -webkit-filter: invert(100%);
    padding-left: 60px;
}

.nav-item>a {
    text-decoration: none;
    color: black;
}

.home-link {
    background-image: url(./icons/sidebar_icons/home.svg);
}

.profile-link {
    background-image: url(./icons/sidebar_icons/profile.svg);
}

.messages-link {
    background-image: url(./icons/sidebar_icons/messages.svg);

}

.history-link {
    background-image: url(./icons/sidebar_icons/history.svg);
}

.tasks-link {
    background-image: url(./icons/sidebar_icons/tasks.svg);
}

.communities-link {
    background-image: url(./icons/sidebar_icons/communities.svg);
}

.settings-link {
    background-image: url(./icons/sidebar_icons/settings.svg);
    align-self: start;
}

.support-link {
    background-image: url(./icons/sidebar_icons/support.svg);
}

.privacy-link {
    background-image: url(./icons/sidebar_icons/privacy.svg);
}

.nav-section2 {
    align-self: start;
}

/* ----------------------------------------------------------------------------------------------------------- */

/* HEADER SECTION */
.header {
    background-color: #ffffff;
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    box-shadow: 3px 10px 10px rgb(224, 229, 233);
    z-index: 1;
}

.header-row-1 {
    display: flex;
    justify-content: space-evenly;
}

.search-row-1 {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 0px 0px 10px 50px;
    border-radius: 100px;
    color: black;
    font-weight: 600;
}

.magnify-icon {
    margin-right: 20px;
    display: block;
    height: 25px;
    width: 25px;
}

.searchbar {
    background-color: rgb(227, 234, 238);
    border: none;
    border-radius: 30px;
    height: 50%;
    flex: 1;
    justify-self: center;
    align-self: center;
}

.image-row-1 {
    margin-right: 20px;
    display: block;
    height: 25px;
    width: 25px;
}

.profile-row-1 {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: end;
    padding: 0px 0px 10px 50px;
    border-radius: 100px;
    color: black;
    font-weight: 600;
    margin-right: 50px;
}

.image-row-1 {
    margin-right: 30px;
    display: block;
    height: 25px;
    width: 25px;
}

.profile-image-row-1 {
    margin-right: 30px;
    display: block;
    height: 55px;
    width: 55px;
    border-radius: 50%;
}

.name-row-1 {
    font-size: 1rem;
}

.header-row-2 {
    display: flex;
    justify-content: space-between;
}

.profile-row-2 {
    display: flex;
    align-items: center;
    padding: 0px 0px 10px 50px;
    border-radius: 100px;
    color: black;
    font-weight: 600;
    flex: 1;
}

.image-row-2 {
    margin-right: 20px;
    display: block;
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

.greet-row-2 {
    font-size: 0.85rem;
}

.name-row-2 {
    font-size: 1.5rem;
}

.header-row-2 .button-flex {
    display: flex;
    align-items: center;
    justify-content: end;
    flex: 1;
}

.header-row-2 .button-flex button {
    background-color: dodgerblue;
    color: white;
    border-style: none;
    border-radius: 20px;
    font-size: 1rem;
    padding: 8px 20px;
    margin-right: 50px;

    &:hover {
        cursor: pointer;
        background-color: rgb(97, 176, 255);
    }
}

/* ----------------------------------------------------------------------------------------------------------- */

/* MAIN SECTION */

.main {
    background-color: #f4f4f4;
    grid-area: main;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "your-p your-p announce"
        "your-p your-p trend"
    ;
    padding: 10px 0px 80px 20px;
}

.card.project {
    display: grid;
    grid-template-columns: 1fr;
    border-left: 10px solid rgb(255, 188, 17);
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 5px rgb(225, 224, 224);
    padding: 50px 20px 0px 20px;

    &:hover {
        box-shadow: 10px 10px 5px rgb(179, 177, 162);
    }
}

.your-projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 3fr 3fr;
    grid-auto-flow: dense;
    grid-area: your-p;
    gap: 35px;
    margin-right: 20px;
}

.card.project p {
    max-inline-size: 55ch;
    color: #525252;
    margin: 0;
    font-weight: 400;
    font-size: clamp(1rem, 1.25rem, 1.66rem);
}

.card.project>.subtitle {
    color: #000000;
    font-weight: 600;
    font-size: clamp(1rem, 1.5rem, 1.75rem);
}

.project-title {
    font-size: clamp(1rem, 1.75rem, 2.2rem);
    align-self: end;
    margin-bottom: -50px
}

.icon-container {
    display: flex;
    justify-content: end;
    align-items: end;
    margin-bottom: 25px;
}

.card-img {
    margin-right: 20px;
    display: block;
    height: 30px;
    width: 30px;
}

/* ----------------------------------------------------------------------------------------------------------- */

/* ANNOUNCEMENT SECTION */
.announce {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25% 1fr;
    grid-area: announce;
    grid-template-areas:
        "announce-title"
        "announce-card"
    ;
    margin-right: 10px;
}

.ann-title {
    grid-area: announce-title;
    font-size: 1.75rem;
    align-self: end;
    margin-bottom: -15px;
}

.card.announce {
    grid-area: announce-card;
    padding: 0;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 5px rgb(225, 224, 224);
    padding: 10px;

    &:hover {
        box-shadow: 10px 10px 5px rgb(179, 177, 162);
    }
}

.nested-card:nth-child(1),
.nested-card:nth-child(2) {
    border-bottom: 1px solid #ccc;
    padding: 0px 5px 10px 5px;
}

.announce-subtitle {
    font-weight: 700;
    color: rgb(0, 0, 0);
}

.nested-card > p {
    font-weight: 400;
    color: #525252;
}

/* ----------------------------------------------------------------------------------------------------------- */

/* TREND SECTION */
.trend {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 1fr;
    grid-area: trend;
    grid-template-areas:
        "trend-title"
        "trend-card"
    ;
    align-items: end;
    margin-right: 10px;
}

.trend-title {
    grid-area: trend-title;
    font-size: 1.5rem;
    margin-bottom: -25px;
}

.card.trend {
    grid-area: trend-card;
    padding: 15px;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 5px rgb(225, 224, 224);

    &:hover {
        box-shadow: 10px 10px 5px rgb(179, 177, 162);
    }
}

.trend-user {
    display: flex;
    align-items: center;
    margin: 12px 0px 0px 5px;
    padding: 10px 0px 10px 50px;
    border-radius: 100px;
    color: black;
    font-weight: 400;
    padding: 10px
}

.user-chip>.username {
    color: black;
    font-size: 1.15rem;
}

.user-chip>.subtitle {
    color: #525252;
    font-size: 1.15rem;
}

.user-pfp {
    margin-right: 20px;
    display: block;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}